<template>
    <div class="container">
        <highcharts :options="options"></highcharts>    
        <Help msg="?" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./Help.vue";

@Component({
    components: { Help }
})
export default class AllRunsStatus extends Vue {
    options: Highcharts.Options = {
        chart: { type: 'column', width: 550, height: 250, marginLeft: 64, marginTop: 32, marginRight: 32 },
        title: { text: null },
        credits: { enabled: false },
        tooltip: {
            headerFormat: `
                <span  style="font-size:11px;font-family: K2D,sans-serif">{point.key}</span><hr>
                <table style="font-size:12px;font-family: K2D,sans-serif">`,
            pointFormat:
                `<tr>
                    <td style="color:{series.color};padding:0;font-weight:bold">{series.name}: </td>
                    <td style="padding:0; text-align: right;"><b>{point.y}</b> ({point.percentage:.0f}%)</td>
                </tr>`,
            footerFormat: "</table>",
            shared: true,
            useHTML: true,
            backgroundColor: '#fff',
            borderColor: '#222'
        },
        legend: { enabled: false },
        xAxis: { type: 'category' },
        yAxis: { type: 'category', tickInterval: 10, title: null },
        plotOptions: {
            column: {
                pointPadding: 0,
                borderWidth: 3,
                groupPadding: 0,
                pointWidth: 16
            },
            series: {
                stacking: 'percent'
            }
        },
        series: [
            {
                color: '#f44336',
                name: "Failed",
                data: [
                    { name: '101', y: 4  }, 
                    { name: '102', y: 42  }, 
                    { name: '103', y: 0  },
                    { name: '104', y: 0  }, 
                    { name: '105', y: 124 },
                    { name: '107', y: 0  },
                    { name: '112', y: 0  }, 
                    { name: '113', y: 0  }, 
                    { name: '141', y: 0  }, 
                    { name: '117', y: 55  }, 
                    { name: '121', y: 72  }, 
                    { name: '133', y: 112  },
                    { name: '142', y: 0 }, 
                    { name: '143', y: 0 },
                    { name: '144', y: 0 }
                ]
            },
            {
                color: '#673ab7',
                name: "Timeout",
                data: [
                    { name: '101', y: 125  }, 
                    { name: '102', y: 42  }, 
                    { name: '105', y: 124 },
                    { name: '117', y: 55  }, 
                    { name: '121', y: 72  }, 
                    { name: '133', y: 12  }
                ]
            },
            {
                color: '#ffc107',
                name: "Exception",
                data: [
                    { name: '101', y: 25  }, 
                    { name: '102', y: 42  }, 
                    { name: '105', y: 124 },
                    { name: '117', y: 155  }, 
                    { name: '121', y: 72  }, 
                    { name: '133', y: 12  }
                ]
            },
            {
                color: '#4caf50',
                name: "Success",
                data: [
                    { name: '101', y: 25  }, 
                    { name: '102', y: 142  }, 
                    { name: '105', y: 124 },
                    { name: '117', y: 55  }, 
                    { name: '121', y: 72  }, 
                    { name: '133', y: 12  }
                ]
            },
            {
                color: '#607d8b',
                name: "Never tested",
                data: [
                    { name: '101', y: 5  }, 
                    { name: '102', y: 2  }, 
                    { name: '103', y: 25  },
                    { name: '104', y: 25  }, 
                    { name: '105', y: 4  },
                    { name: '107', y: 25  }, 
                    { name: '112', y: 25  }, 
                    { name: '113', y: 25  }, 
                    { name: '117', y: 5  }, 
                    { name: '121', y: 7  }, 
                    { name: '133', y: 12  }, 
                    { name: '141', y: 25  }, 
                    { name: '142', y: 142 }, 
                    { name: '143', y: 124 },
                    { name: '144', y: 55  }
                ]
            }
        ]
    }
}
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
</style>
