<template>
    <div class="container">
        <highcharts :options="options"></highcharts>    
        <Help msg="?" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./Help.vue";

@Component({
    components: { Help }
})
export default class AllRunsStatus extends Vue {
    options: Highcharts.Options = {
        chart: { type: 'pie', width: 550, height: 250, margin: 8 },
        title: { text: null },
        credits: { enabled: false },
        tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.y}</b> ({point.percentage:.0f}%)'
        },
        plotOptions: {
            pie: {
                borderWidth: 5,
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    // enabled: true,
                    style: {
                        fontWeight: 'normal',
                        fontFamily: 'K2D,sans-serif',
                        fontSize: '16px',
                        color: 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Brands',
            innerSize: '75%',
            data: [
                { name: 'Failed', y: 58, color: '#f44336' },
                { name: 'Timeout', y: 13, color: '#673ab7' },
                { name: 'Exception', y: 13, color: '#ffc107' },
                { name: 'Success', y: 15, color: '#4caf50' },
                { name: 'Never tested', y: 190, color: '#607d8b' }
            ]
        }]
    }    
}
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
</style>
