<template>
    <div class="container">
        <highcharts :options="options"></highcharts>    
        <Help msg="?" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./Help.vue";

@Component({
    components: { Help }
})
export default class AllRunsStatus extends Vue {
  options: Highcharts.Options = {
    chart: { type: 'column', height: 150, margin: 16 },
    title: { text: null },
    xAxis: { visible: false },
    yAxis: { visible: false },
    credits: { enabled: false },
    tooltip: {
      headerFormat: `
        <span  style="font-size:11px;font-family: K2D,sans-serif">{point.key}</span><hr>
        <table style="font-size:12px;font-family: K2D,sans-serif">`,
      pointFormat:
        `<tr>
            <td style="color:{series.color};padding:0;font-weight:bold">{series.name}: </td>
            <td style="padding:0; text-align: right;"><b>{point.y}</b></td>
        </tr>`,
      footerFormat: "</table>",
      shared: true,
      useHTML: true,
      backgroundColor: '#fff',
      borderColor: '#222'
    },
    legend: {
        enabled: false,
        layout: 'vertical',
        verticalAlign: 'top',
        align: 'right'
    },
    plotOptions: {
      column: {
        pointPadding: 0,
        borderWidth: 3,
        groupPadding: 0,
        pointWidth: 16
      },

      series: {
        stacking: "normal"
      }
    },
    series: [
      {
        color: '#f44336',
        name: "Failed", data: [ 49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54, 148, 216, 194, 95,49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54, 148, 216, 194, 95.6, 95,49, 71, 106, 129, 144, 176, 135, 148, 216, 194, 95, 54, 148, 216, 194, 95.6  ]
      },
      {
        color: '#673ab7',
        name: "Timeout", data: [ 83, 78, 98, 93, 106, 84, 105, 104, 91, 83, 106, 92, 104, 91, 83, 106.6 ]
      },
      {
        color: '#ffc107',
        name: "Exception", data: [ 48, 38, 39, 41, 47, 48, 59, 59, 52, 65, 59, 51, 52, 65, 59, 51.2 ]
      },
      {
        color: '#4caf50',
        name: "Success", data: [ 42, 33, 34, 39, 52, 75, 57, 60, 47, 39, 46, 51, 60, 47, 39, 46, 42, 33, 34, 39, 52, 75, 57, 60, 47, 39, 46, 51, 60, 47, 39, 46.8 ]
      }
    ]
  };
}
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
</style>
