<template>
    <span>
        Grid
    <!-- <div class="container">
        <highcharts :options="options"></highcharts>    
        <Help msg="?" />
    </div> -->
    </span>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./Help.vue";

@Component({
    components: { Help }
})
export default class AllRunsStatus extends Vue {
    options: Highcharts.Options = {
        chart: { width: 550, height: 250 },
        title: { text: null },
        credits: { enabled: false }
    }    
}
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
</style>
