<template>
  <i class="help fa fa-expand" v-on="$listeners"></i>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>

<style lang="scss" scoped>
.help {
    margin: 8px;
    color: #aaa;

    &:hover {
        color: #222;
        cursor: pointer;
    }
}
</style>
