<template>
    <div class="container">
        <highcharts :options="options"></highcharts>    
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./Help.vue";

@Component({
    components: { Help }
})
export default class AllRunsStatus extends Vue {
    options: Highcharts.Options = {
        chart: { type: 'pie', width: 550, height: 250, margin: 8 },
        title: { text: null },
        credits: { enabled: false },
        tooltip: {
            headerFormat: '',
            pointFormat: '<b>{point.y}</b> ({point.percentage:.0f}%)'
        },
        plotOptions: {
            pie: {
                borderWidth: 5,
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    // enabled: true,
                    style: {
                        fontWeight: 'normal',
                        fontFamily: 'K2D,sans-serif',
                        fontSize: '16px',
                        color: 'black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '100%'],
                size: '150%'
            }
        },
        series: [{
            type: 'pie',
            innerSize: '85%',
            data: [
                { name: 'Failed', y: 58, color: '#f44336' },
                { name: 'Timeout', y: 22, color: '#673ab7' },
                { name: 'Exception', y: 13, color: '#ffc107' },
                { name: 'Success', y: 115, color: '#4caf50' }
            ]
        }]
    }    
}
</script>

<style scoped>
.container {
    width: 100%;
    height: 100%;
}
</style>
