<template>
<vue-fragment>
  <main ref="main">
      <div class="widget" style="background: #689f38; color: white">
          <span>Passing queries</span>
          <h2>5%</h2>
          <small>10121 overall</small>
      </div>
      <div class="widget" style="background: #5e35b1; color: white">
          <span>Avg. query time</span>
          <h2>300ms</h2>
          <small>90 percentile</small>
      </div>
      <div class="widget" style="background: #26a69a; color: white">
          <span>Datasets working</span>
          <h2>4 / 20</h2>
          <small>15 / 20 covered by tests</small>
      </div>
      <div class="widget" style="background: #cf4f09; color: white">
          <span>Deadline</span>
          <h2>30 days left</h2>
          <small>Release 5.2 / 2018-12-01</small>
      </div>

      <div class="widget span4">
          <AllRunsStatus></AllRunsStatus>
      </div>
      
      <div class="widget span2" ref="widget">
          <SingleRunStatus></SingleRunStatus>
          <Help msg="?" @click="mask" />
      </div>
      <div class="widget span2">
          <AggregatedStatus></AggregatedStatus>
      </div>
      <div class="widget span2">
          <DetailsGrid></DetailsGrid>
      </div>
      <div class="widget span2">
          <AggregatedWithCategories></AggregatedWithCategories>
      </div>
  </main>
  <transition @enter="expand" @leave="collapse">
    <div v-if="maskVisible" style="opacity: 0;">
        <div class="overlay" @click="maskVisible = false"></div>
        <div class="widget span mask" :style="maskPosition" ref="mask"></div>
    </div>
  </transition>
</vue-fragment>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Help from "./components/Help.vue";
import AllRunsStatus from "./components/AllRunsStatus.vue";
import SingleRunStatus from "./components/SingleRunStatus.vue";
import AggregatedStatus from "./components/AggregatedStatus.vue";
import DetailsGrid from "./components/DetailsGrid.vue";
import AggregatedWithCategories from "./components/AggregatedWithCategories.vue";

import { TimelineLite } from "gsap";

declare const document: Document;

@Component({
  components: {
    Help,
    AllRunsStatus,
    SingleRunStatus,
    AggregatedStatus,
    DetailsGrid,
    AggregatedWithCategories
  }
})
export default class App extends Vue {
  mounted() {
    const loader = this.$loading.show({ container: this.$refs.widget });
    setTimeout(() => loader.hide(), 500);
  }

  maskVisible = false;
  maskPosition = { top: "", left: "", width: "", height: "" };
  maskEscapeHandler: EventListener = () => {};

  mask() {
    const w = this.$refs.widget;
    const s = this.document.scrollTop;

    this.maskPosition = {
      top: `${w.offsetTop - s}px`,
      left: `${w.offsetLeft}px`,
      height: `${w.offsetHeight}px`,
      width: `${w.offsetWidth}px`
    };
    this.maskVisible = true;
  }

  $refs!: {
    main: HTMLElement;
    mask: HTMLElement;
    widget: HTMLElement;
  };

  get document() {
    return document.documentElement || <HTMLElement>{};
  }

  expand() {
    const fromPx = (txt: string) => parseInt(txt, 10);

    const m = this.$refs.main;
    const mask = this.$refs.mask;

    new TimelineLite()
      .to(mask.parentElement || {}, 0.5, { opacity: 1 })
      .to(mask, 0.5, {
        x: m.offsetLeft - fromPx(this.maskPosition.left) + 30,
        y: m.offsetTop - fromPx(this.maskPosition.top) + 30,
        width: m.offsetWidth - 60,
        height: m.offsetHeight - 60
      });

    this.maskEscapeHandler = <EventListener>(
      ((ev: KeyboardEvent) => this.escapeCollapse(ev))
    );
    document.body.addEventListener("keyup", this.maskEscapeHandler);
  }

  escapeCollapse(ev: KeyboardEvent) {
    console.log(ev.keyCode, this.maskVisible);
    if (ev.keyCode === 27 && this.maskVisible) {
      this.collapse(null, () => {});
      document.body.removeEventListener("keyup", this.maskEscapeHandler);
    }
  }

  collapse(el: HTMLElement | null, done: () => void) {
    const fromPx = (txt: string) => parseInt(txt, 10);

    const w = this.$refs.widget;
    const s = this.document.scrollTop;
    const m = this.$refs.main;
    const mask = this.$refs.mask;

    new TimelineLite()
      .to(mask, 0.5, {
        x: 0,
        y: w.offsetTop - s - fromPx(this.maskPosition.top),
        width: fromPx(this.maskPosition.width),
        height: fromPx(this.maskPosition.height)
      })
      .to(mask.parentElement || {}, 0.5, { opacity: 0 })
      .call(() => {
        this.maskVisible = false;
      })
      .call(() => {
        document.body.removeEventListener("keyup", this.maskEscapeHandler);
      })
      .call(done);
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=K2D");
@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");

html {
  background: #eee;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}

.mask {
  position: fixed !important;
}

.widget {
  background: #fff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  position: relative;

  display: grid;
  place-items: center;

  .help {
    position: absolute;
    right: 0;
    top: 0;
  }

  h2 {
    font-weight: 100;
    font-size: 2em;
  }

  &:not([class*="span"]) {
    place-items: start left;
    grid-template-rows: 1fr 50px 40px;
    padding: 20px;

    > span {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      font-size: 1.1em;
      letter-spacing: 0.07em;
    }

    > small {
      margin-top: 2em;
    }
  }

  &.span4 {
    grid-column: span 4;
  }
  &.span2 {
    grid-column: span 2;
  }
}

main {
  font-family: "K2D", Helvetica, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding: 60px;

  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: 200px minmax(150px, 10vw) repeat(2, minmax(250px, 20vw));
  grid-gap: 20px;

  width: 1115px;
  margin: 0 auto;
}
</style>
